.gradle
build/

.idea/
!.idea/modules/
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/kotlinc.xml
!.idea/ktor.xml
!.idea/vcs.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
